@import 'normalize';
@import 'landingPage';

/* Page container */
.container {
    display: grid;
    grid-template-columns:1fr calc(min(1170px, 100%)) 1fr;
}
.container > * {
    grid-column: 2;
}
.fullBleed {
    max-width: 100%;
    grid-column: 1 / 4;
}

.header {
    background-color: blue;
    .container {
        max-width:940px;
        margin:0 auto;
    }
}

// section {
//     background-color: #f0f8ff;
//     display:flex;
//     .section1 {
//         background:lime;
//         flex:1;
//     }
//     .section2 {
//         background:purple;
//         flex:2;
//     }
// }

.greybg {
    background:grey;
}